:root {
    --grey: rgb(159, 159, 159);
}
/* Preloader */
.preloader {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
}

.preloader-main .logo {
    position: absolute;
    top: 30%;
    left: 46%;
}

.preloader-main .footer {
    position: absolute;
    bottom: 10%;
    left: 46%;
}

body {
    background: rgb(249, 249, 249);
}

a {
    text-decoration: none;
}

.login-form .form-section{
    margin-left: 20px;
    margin-top: 27px;
    background: #fff;
    border: 1px solid rgb(227, 227, 227);
    padding: 45px 40px 15px 40px;
    max-width: 340px;
}

.login-form .form-section:nth-child(2){
    margin-top: 10px;
    padding: 0px;
}

.login-form .form-section:nth-child(2) p {
    font-size: 14px;
    padding: 4px;
    margin-top: 15px;
}

.login-form .form-section:nth-child(2) a {
    font-weight: 500;
    color: rgb(31, 155, 244);
}

.login-form .form-section:nth-child(3) {
    padding: 0px;
    background: transparent;
    border: none;
    margin-top: 14px;
}

.login-form .form-section .header{
    margin-bottom: -20px;
}

input.form-control{
    background:rgb(251, 251, 251);
    margin-top: 8px;
    border-radius: 2px;
    font-size: 12px;
    color: var(--grey);
    padding: 9px 6px 9px 6px;
}

input.form-control:focus, 
input.form-control:active {
    box-shadow: none;
    border: 1px solid rgb(148, 148, 148);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder{
    font-size: 12px;
    color: var(--grey);
}

.btn {
    background: rgb(162, 221, 255);
    border: none;
    width: 100%;
    margin-top: 15px;
}

.btn:hover {
    background: rgb(162, 221, 255);
}

.alternative .line {
    width: 100px;
    height: 1px;
    background: rgb(210, 210, 210);
    margin-top: -19px;
}

.alternative p {
    font-size: 14px;
    color: var(--grey);
    font-weight: bold;
}

.socials p{
    color: rgb(16, 61, 126);
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.socials p i{
    font-size: 18px;
    margin-right: 8px;
}

.socials a {
    color: rgb(16, 61, 126);
    font-size: 12px;
}

.download-area {
    font-size: 14px;
}

.download-area .stores img:nth-child(1) {
    width: 134px;
    height: auto;
}

.download-area .stores img:nth-child(2) {
    width: 130px;
    height: auto;
}

.footer-links ul li{
    display: inline-block;
    margin-left: 10px;
}

.footer-links ul:nth-child(2){
    margin-top: -10px;
}

.footer-links ul li a {
    color: rgb(141, 141, 141);
    font-size: 13px;
}

.lang select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    color: rgb(141, 141, 141);
    font-size: 13px;
    cursor: pointer;
}

.lang-x-copywrite {
    margin-top: -18px;
}

.lang select:focus,
.lang select:active {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    background: transparent;
}

.lang i {
    color: rgb(141, 141, 141);
    font-size: 13px;
}

.copywrite p {
    color: rgb(141, 141, 141);
    font-size: 13px;
    margin-top: 17px;
    margin-left: 30px;
}