:root {
    --grey: rgb(159, 159, 159);
    --blue: rgb(31, 155, 244);
}
/* Preloader */
.preloader {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
}

.preloader-main .logo {
    position: absolute;
    top: 35%;
    left: 46%;
}

.preloader-main .footer {
    position: absolute;
    bottom: 10%;
    left: 46%;
}

body {
    background: rgb(249, 249, 249);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.login-form .form-section{
    margin-left: 20px;
    margin-top: 27px;
    background: #fff;
    border: 1px solid rgb(227, 227, 227);
    padding: 45px 40px 15px 40px;
    max-width: 340px;
}

.login-form .form-section:nth-child(2){
    margin-top: 10px;
    padding: 0px;
}

.login-form .form-section:nth-child(2) p {
    font-size: 14px;
    padding: 4px;
    margin-top: 15px;
}

.login-form .form-section:nth-child(2) a {
    font-weight: 500;
    color: var(--blue);
}

.login-form .form-section:nth-child(3) {
    padding: 0px;
    background: transparent;
    border: none;
    margin-top: 14px;
}

.login-form .form-section .header{
    margin-bottom: -20px;
}

.login-form input.form-control{
    background:rgb(251, 251, 251);
    margin-top: 8px;
    border-radius: 2px;
    font-size: 12px;
    color: var(--grey);
    padding: 9px 6px 9px 6px;
}

.login-form input.form-control:focus, 
.login-form input.form-control:active {
    box-shadow: none;
    border: 1px solid rgb(148, 148, 148);
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder{
    font-size: 12px;
    color: var(--grey);
}

.btn {
    background: rgb(162, 221, 255);
    border: none;
    width: 100%;
    margin-top: 15px;
}

.btn:hover {
    background: rgb(162, 221, 255);
}

.alternative .line {
    width: 100px;
    height: 1px;
    background: rgb(210, 210, 210);
    margin-top: -19px;
}

.alternative p {
    font-size: 14px;
    color: var(--grey);
    font-weight: bold;
}

.socials p{
    color: rgb(16, 61, 126);
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.socials p i{
    font-size: 18px;
    margin-right: 8px;
}

.socials a {
    color: rgb(16, 61, 126);
    font-size: 12px;
}

.download-area {
    font-size: 14px;
}

.download-area .stores img:nth-child(1) {
    width: 134px;
    height: auto;
}

.download-area .stores img:nth-child(2) {
    width: 130px;
    height: auto;
}

.footer-links ul li{
    display: inline-block;
    margin-left: 10px;
}

.footer-links ul:nth-child(2){
    margin-top: -10px;
}

.footer-links ul li a {
    color: rgb(141, 141, 141);
    font-size: 13px;
}

.lang select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    color: rgb(141, 141, 141);
    font-size: 13px;
    cursor: pointer;
}

.lang-x-copywrite {
    margin-top: -18px;
}

.lang select:focus,
.lang select:active {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    background: transparent;
}

.lang i {
    color: rgb(141, 141, 141);
    font-size: 13px;
}

.copywrite p {
    color: rgb(141, 141, 141);
    font-size: 13px;
    margin-top: 17px;
    margin-left: 30px;
}

/* Login section ends here */




/* Homepage styling */

header{
    background: #fff;
    padding: 10px 160px 10px 160px;
    border-bottom: 1px solid rgb(227, 227, 227);
    position: fixed;
    width: 100%;
}

.search i {
    position: absolute;
    margin-top: 12px;
    margin-left: 90px;
    color: var(--grey);
}

.search input[type=text].form-control {
    background: rgb(233, 233, 233);
    padding: 6px 35px 6px 35px;
    border: none;
    margin-left: 80px;
    max-width: 80%;
}

.search input[type=text].form-control:focus,
.search input[type=text].form-control:active {
    box-shadow: none;
    border: none;
}

.search input[type=text].form-control::placeholder {
    color: var(--grey);
    font-weight: 300;
}

.nav .single-icon {
    margin-left: 25px;
}

.nav .single-icon span {
    position: absolute;
    background: rgb(242, 33, 92);
    width: 20px;
    height: 20px;
    border-radius: 60px;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    margin-top: -5px;
}

.nav .single-icon img {
    width: 20px;
    height: auto;
}

.profile {
    padding-top: 2px;
}

.profile .img {
    width: 25px;
    height: 25px;
    background: url(../img/profile_pic.jpg);
    background-size: cover;
    border-radius: 60px;
}

/* Story area */
.main-body {
    padding: 0px 131px 0px 131px;
    padding-top: 90px;
}

.story-wrap {
    background: #fff;
    border: 1px solid rgb(227, 227, 227);
    padding: 20px;
    border-radius: 10px;
    overflow-x: hidden;
}

.story-wrap .single-story img {
    width: 68px;
    height: auto;
    padding: 2px;
    background: linear-gradient(#fff, #fff) padding-box,
                linear-gradient(45deg, rgb(255, 242, 0), rgb(223, 6, 223)) border-box;
    border: 2px solid transparent;
    border-radius: 60px;
}

.story-wrap .single-story {
    margin-left: 12px;
}

.story-wrap .single-story:nth-child(1) {
    margin-left: 0px;
}

.story-wrap .single-story .live {
    position: relative;
    background: rgb(242, 33, 92);
    width: 34px;
    height: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 3px solid #fff;
    font-size: 9px;
    color: #fff;
    margin-top: -13px;
    z-index: 1;
    left: 27%;
}

.story-wrap .single-story .username-live,
.story-wrap .single-story .username {
    font-size: 12px;
    margin-bottom: -3px;
    margin-top: -3px;
}

.story-wrap .single-story .username {
    font-size: 12px;
    margin-bottom: -3px;
    margin-top: 5px;
}


/* Feeds */
.feeds {
    margin-top: 15px;
}

.single-feed .header {
    background: #fff;
    border: 1px solid rgb(227, 227, 227);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
}

.single-feed .profile img {
    width: 30px;
    height: auto;
    border-radius: 60px;
}

.single-feed .profile h5 {
    font-size: 14px;
    margin-left: 10px;
}


/* Sidebar */
.sidebar {
    margin-left: 10px;
}
.sidebar .profile-info img {
    width: 58px;
    height: auto;
    border-radius: 60px;
}

.sidebar .profile-info .text,
.sidebar .left .text {
    margin-left: 14px;
}

.sidebar .profile-info .text h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -1px;
}

.sidebar .profile-info .text span {
    font-size: 14px;
    color: var(--grey);
}

.sidebar .profile-info .switch {
    font-size: 13px;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.sidebar .suggestions h4 {
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
}

.sidebar .suggestions h5 {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.sidebar .left img {
    width: 35px;
    height: auto;
    border-radius: 60px;
}
.sidebar .left .text h4 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: -2px;
}

.sidebar .left .text span {
    font-size: 12px;
    color: var(--grey);
}
.sidebar .right p {
    font-size: 13px;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.sidebar .single-suggestion {
    margin-bottom: 12px;
}